<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <!-- Bootstrap Table -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <link rel="stylesheet" href="../public/dashboard.css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="../public/admin.js"></script>
    <script src="../public/logout.js"></script>
</head>
<style>

    .control-label {
        margin-right: 5px;
    }

    .form-control.requiredField {
        font-size: 0.9rem;
    }

    .control-label:after {
        content:"*";color: #777
    }

    .section {
        padding-top: 65px;
        margin-top: -65px;
        margin-bottom: 25px;
    }

</style>

<body>
<nav style="background-color: #fff67b" class="navbar navbar-expand-md navbar-light fixed-top">
    <a class="navbar-brand" href="#">HRMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Admin Home<span class="sr-only">(current)</span></a>
            </li>
        </ul>
            <span class="nav-item my-2 my-lg-0">
                <button id='log' class="btn btn-outline-dark my-2 my-sm-0" type="button" onclick="logout()">Log out</button>
            </span>


    </div>
</nav>
<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#off_div">Offers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#intv_div">Add Interview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" class="nav-link" href="#a_div">Analytics</a>
        </li>
    </ul>
</nav>

<main role="main" class="container">
    <h2 >Dashboard</h2><hr>
    <div id="off_div" class="section">
        <h3>Offers</h3><hr>
        <div id="offer_rates" style="margin: -16px 0"></div>
        <div id="edu_rates" style="margin: -16px 0"></div>
        <table id="offer_table" style="font-size: 0.9rem" data-pagination="true" data-page-size="5" data-search='true'>
        </table>
        <h3 style="margin-top: 20px">Add an offer</h3>
          <form class="form-inline">
              <div style="margin-right: -90px" class="form-group">
                  <label class="control-label">Posting ID</label>
                  <input type="number" min="1" step="1" style="width: 31%" class="form-control requiredField" id="postID" name="postID" placeholder="integer">
              </div>
              <div style="margin-right:20px" class="form-group">
                  <label class="control-label">Candidate email</label>
                  <input style="width: 240px" class="form-control requiredField" id="resEmail" name="resEmail" placeholder="">
              </div>
              <div style="margin-right: 10px" class="form-group">
                  <label class="control-label">Compensation</label>
                  <input type="number" min="0" step="0.01" style="width: 83px" class="form-control requiredField" id="comp" name="comp" placeholder="50000">
              </div>
              <div class="form-group">
                  <label class="control-label">Decision</label>
                  <select class="form-control selectpicker" id="decs"  name="desc">
                    <option value=" " >select decision status</option>
                    <option>accepted</option>
                    <option>declined</option>
                    <option>pending</option>
                  </select>
              </div>
          </form>
          <div class="form-group" style="margin-top: 15px">
              <button type="button" onclick="addOffer()" class="btn btn-primary">Add Offer</button>
          </div>

    </div>
    <div id='intv_div' class="section">
        <h3>Add Interview</h3><hr>
        <form class="form-inline">
            <div style="margin-right: -100px" class="form-group">
                <label class="control-label">round</label>
                <input type="number" min="1" step="1" style="width: 30%" class="form-control requiredField" id="round" name="round" placeholder="e.g. 3">
            </div>
            <div style="margin-right: -85px" class="form-group">
                <label class="control-label">aID</label>
                <input type="number" min="1" step="1" style="width: 40%" class="form-control requiredField" id="aID" name="aID" placeholder="">
            </div>
            <div style="margin-right: 17px" class="form-group">
                <label class="control-label">time</label>
                <input style="width: 200px" class="form-control requiredField" id="time" name="time" placeholder="YYYY-MM-DD HH:MI:SS">
            </div>
            <div class="form-group">
                <label class="control-label">location</label>
                <input style="width: 430px" class="form-control requiredField" id="loc" name="loc" placeholder="">
            </div>
        </form>
        <div class="form-group" style="margin-top: 15px">
            <button type="button" onclick="setUpInterview()" class="btn btn-primary">Add Record</button>
        </div>
    </div>
    <div id='a_div' class="section">
        <h3>Analytics</h3><hr>
        <h5>Most Preferred Candidate(s)</h5>
        <table id="mpc_table" style="font-size: 0.9rem" data-pagination="true" data-page-size="5" data-search='true'>
        </table>
        <h5 style="margin-top: 20px">Most Preferred Hospital(s)</h5>
        <table id="mph_table" style="font-size: 0.9rem" data-pagination="true" data-page-size="5" data-search='true'>
        </table>
    </div>

</main>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Hospital-Resident Matching Service</span>
    </div>
</footer>

</body>

</html>
