<!-- Created by Jiaxuan on Nov. 11, 2017-->

<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <meta name="robots" content="noindex, nofollow">
  <!-- Include CSS File Here -->
  <link rel="stylesheet" href="../public/registerStyles.css"/>
  <!-- Include JS File Here -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="../public/registration.js"></script>
</head>
<body>
  <div class="container">
    <div class="main">
      <form class="form" method="post">
        <h2>Sign Up</h2>

        <div id="common">
          <label>Name :</label>
          <input type="text" name="dname" id="name">
          <label>Email :</label>
          <input type="email" name="demail" id="email">
          <label>Phone Number (optional) :</label>
          <input type="tel" name="dphone" id="phone" pattern="\d{10}" placeholder="7786668798">
          <label>Password :</label>
          <input type="password" name="password" id="password" placeholder="at least 6 characters">
          <label>Confirm Password :</label>
          <input type="password" name="cpassword" id="cpassword">
        </div>

        <div id="admin">
          <label>Admin Verification :</label>
          <input type="text" id="secret" placeholder="a code verifying yourself as an admin ">
        </div>

        <input type="button" name="register" id="admin_register" value="Register">
        <input type="button" id="back" value="Back">

      </form>
    </div>
  </div>
</body>
</html>
