<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recruiter Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/dashboard.css">
    <script src="../public/recruiter.js"></script>
    <script src="../public/logout.js"></script>
</head>
<style>
    .section {
        padding-top: 65px;
        margin-top: -65px;
        margin-bottom: 25px;
    }
</style>

<body>
<nav style="background-color: #2affff" class="navbar navbar-expand-md navbar-light fixed-top">
    <a class="navbar-brand" href="#">HRMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Recruiter Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sth else</a>
            </li>
        </ul>
        <span class="nav-item my-2 my-lg-0">
                <button id='log' class="btn btn-outline-dark my-2 my-sm-0" type="button"
                        onclick="logout()">Log out</button>
            </span>

    </div>
</nav>
<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#addPosting">Add Job Postings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#deletePosting">Delete Job Postings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Export</a>
        </li>
    </ul>
</nav>

<main role="main" class="container">
    <h2>Overview</h2>
    <hr>

    <div id="addPosting" class="section">
        <h3>Add Vacancy Posting</h3>
        <hr>
        <h5>Please fill in the following items</h5>
        <form class="form">
            <div class="card" style="width: 35rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> Program name
                        <input style="" class="form-control requiredField" id="pname" name="pname" placeholder="">
                    </li>
                    <li class="list-group-item"> Duration
                        <input style="" class="form-control requiredField" id="dur" name="dur"
                               placeholder="e.g. 3 years">
                    </li>
                    <li class="list-group-item"> Required specialty
                        <input style="" class="form-control requiredField" id="spec" name="spec" placeholder="">
                    </li>
                    <li class="list-group-item"> Application deadline
                        <input type="date" class="form-control requiredField" id="ddl" name="ddl" required>
                    </li>
                    <li class="list-group-item"> Number of slots available
                        <input style="" class="form-control requiredField" id="slots" name="slots" placeholder="">
                    </li>
                </ul>
            </div>
        </form>
        <form class="form">

            <button style="margin-top:20px; margin-left:150px" type="button" onclick="postVacancy()"
                    class="btn btn-primary">Add a new vacancy posting
            </button>

        </form>
    </div>


    <div id="deletePosting" class="section">
        <h5>Please enter the posting ID</h5>

        <div class="card" style="width: 35rem">
            <div class="card-body"> Posting ID
                <input class="form-control requiredField" id="postingID" name="pID" placeholder="Posting ID">
            </div>
        </div>

        <button style="margin-top:20px; margin-left:150px;" type="button" onclick="deleteVacancy()"
                class="btn btn-primary">Delete a vacancy posting
        </button>
    </div>

    </div>
</main>


<footer class="footer">
    <div class="container">
        <span class="text-muted">Hospital-Resident Matching Service</span>
    </div>
</footer>

</body>

</html>
