<!-- Created by Jiaxuan on Nov. 11m, 2017-->

<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <meta name="robots" content="noindex, nofollow">
  <!-- Include CSS File Here -->
  <link rel="stylesheet" href="../public/registerStyles.css"/>
  <!-- Include JS File Here -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="../public/registration.js"></script>
</head>
<body>
  <div class="container">
    <div class="main">
      <form class="form" method="post">
        <h2>Sign Up</h2>

        <div id="common">
          <label>Name :</label>
          <input type="text" name="dname" id="name">
          <label>Email :</label>
          <input type="email" name="demail" id="email">
          <label>Phone Number (optional) :</label>
          <input type="tel" name="dphone" id="phone" pattern="\d{10}" placeholder="7786668798">
          <label>Password :</label>
          <input type="password" name="password" id="password" placeholder="at least 6 characters">
          <label>Confirm Password :</label>
          <input type="password" name="cpassword" id="cpassword">
        </div>
        <div id="newHosp" style='display:none;'>
          <label>Hospital Name :</label>
          <input type="text" name="hname" id="hname">
          <label>Hospital Location :</label>
          <input type="text" name="hloc" id="hloc">
        </div>

        <div>
          <label>Hospital :</label>
          <select class="form-control selectpicker" id="hosp">
            <option value=" " >Please select your Hospital</option>
            <option>Athabasca Healthcare Center</option>
            <option>Banff Mineral Springs Hospital</option>
            <option>Oilfields General Hospital</option>
            <option>Boyle Healthcare Centre</option>
            <option>East Calgary Health Centre</option>
            <option>South Calgary Health Centre</option>
            <option>Cardston Hospital</option>
            <option>Alberta Hospital Edmonton</option>
            <option>Cross Cancer Institute</option>
            <option>Devon General Hospital</option>
            <option value="other">Other</option>
          </select>
        </div>


        <input type="button" name="register" id="recr_register" value="Register">
        <input type="button"  onclick="window.location = '/register.html'" id="back" value="Back">

      </form>
    </div>
  </div>
</body>
</html>
