<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recruiter Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/dashboard.css">
    <script src="./recruiter.js"></script>
</head>

<script>
    function setUpInterview() {
        var data = {}; //Todo: get actually data from the user
        $.ajax({
            url: "http://localhost:1234/admin/setupinterview",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            type: "POST",
            success: function (res) {
                alert(res);
            },
            error: function (err) {
                console.log(err);
                alert(err.responseText);
            }
        });
    }

    function logout() {
        $.ajax({
            url: "http://localhost:1234/logout",
            contentType: "application/json; charset=utf-8",
            type: "GET",
            success: function (res) {
                window.location = res;
            },
            error: function (err) {
                console.log(err);
                alert(err.responseText);
            }
        });
    }
</script>


<body>
<nav style="background-color: red" class="navbar navbar-expand-md navbar-light fixed-top">
    <a class="navbar-brand" href="#">HRMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Recruiter Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sth else</a>
            </li>
        </ul>
            <span class="nav-item my-2 my-lg-0">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="button" onclick="logout()">Log out</button>
            </span>


    </div>
</nav>
<main role="main" class="container">
    <h2>Dashboard</h2><hr>
    <button type="button" onclick="setUpInterview()">add an interview</button>

</main>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Hospital-Resident Matching Service</span>
    </div>
</footer>

</body>

</html>