<!-- Created by Jiaxuan on Nov. 5, 2017-->

<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <meta name="robots" content="noindex, nofollow">
  <!-- Include CSS File Here -->
  <link rel="stylesheet" href="../public/registerStyles.css"/>
  <!-- Include JS File Here -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="../public/registration.js"></script>
</head>
<body>
  <div class="container">
    <div class="main">
      <form class="form" method="post">
        <h2>Sign Up</h2>
        <h3 style="margin-top: 30px; font-size: 16px;"> You are a ... </h3>
        <label class="radio-inline">
          <input type="radio" name="optradio" value="admin">Admin
        </label>
        <label class="radio-inline" >
          <input type="radio" name="optradio" value="candidate">Candidate
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio" value="recruiter">Recruiter
        </label>
        <input type="button" name="proceed" id="proceed" value="Next">

      </form>
    </div>
  </div>
</body>
</html>
